body {
    font-family: Arial ;
    font-size: 15 ;
    background-color: aliceblue;
    color: darkblue;
}

h1, h2, h3, h4, h5, h6 {
    font-family: copperplate ;
    font-style: bold ; 
    color: darkmagenta;    
}

p, figcaption {
    font-style: italic ;
    font-weight: lighter ;
    font-size: 12px ;
}

img {
    border: 5px solid lightblue ;
}
