
body {
    font-family: 'Abril Fatface', cursive;    
    font-size: 15 ;
    background-color: darkcyan;
    color: aliceblue;
}

h1 {
    color: aliceblue; 
    text-transform: capitalize ; 
    padding: 15px
}

h2 {
    color: gold;
    font-style: italic ;
    border-bottom: 4px double white;
    border-top: 5px solid white;
    padding: 15px
}

h4 {
    font-family: helvetica ;
    color: lightcyan;

}

p, figcaption {
    font-family: 'Open Sans', sans-serif;
    font-style: italic ;
    font-weight: lighter ;
    color: whitesmoke ;

}

img {
    border: 5px solid aliceblue ;
}

table {
    font-family: "Open Sans", sans-serif;
    border: 1px solid whitesmoke ;
    text-align: center ;
    margin: 50px auto 50px auto ;
}

.name {
    font-style: italic ;
    font-weight: bold ;
}

a:link {
    font-family: 'Open Sans', sans-serif;

    color: aliceblue ;
    text-decoration: none ;
}

a:hover{
    font-family: 'Open Sans', sans-serif;

    color: gold ;
}

a:visited{
    font-family: 'Open Sans', sans-serif;

    color: gold ;
}

ul, ol {
    font-family: 'Open Sans', sans-serif;
    color:whitesmoke
}

.title {
    font-family: 'Abril Fatface', cursive;   
    color: aliceblue ;
    font-weight: bold ;
}
