body {
    margin: 0px;
/*    background-color: #002830;*/
    width: 1366px;
    background: url(images/Background.png) no-repeat top center ;
    background-color: #f2ede4;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    font-family: Montserrat Light, sans-serif;
}

/* Navigation */
a {
    color: #002830;
    text-decoration: none;
    font-weight: lighter;
    padding: 14px;
}

/*Top Nav Bar */

.navbar {
    background-color:#f2ede4;
    width: 300px;
    height: 40px;
    position: fixed;
    right: 0px;
    top: 0px;
    text-align: center;
    -webkit-padding-start: 0px;
}

.navbar > ul > li {
    display: inline ;
    padding-top: 14px;
    padding-bottom: 14px;
    letter-spacing: 5px;
    font-size: .75em;
}

.navbar > ul {
    margin-top: 10px;
    -webkit-padding-start: 0px;
}

.navbar > ul > li > a:hover {
    color: #fffbd1;
    background: #01968e;
}

/* Footer */

.footer {
    background-color: #dbf83f;
    height: 40px;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align: center;
}

.footer > ul > li {
    display: inline;
    padding-bottom: 14px;
    letter-spacing: 5px;
    font-size: .75em;
}

.footer > ul {
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-padding-start: 0px;
}

.footer > ul > li > a:hover {
    color: #01968e;
}

/* Home */
.Logo {
    float: right;
/*
    padding: 100 0 100 100;
    margin-right: 10;
    margin-top: 150px;*/
}

/* Work */
.Work {
    margin-left: 100px;
    margin-top: 75px;
}

.Gallery > ul > li {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

.Gallery {
    margin-top: 100px;
}

.work {
    clear: both;
}

#homepage, #workpage, #aboutpage {
    height: 786px;
}

/* About */
.About {
    margin-left: 100px;
    margin-top: 75px;
}

article {
    margin-left: 200px;
    margin-top: 25px;
    margin-right: 25px;
    font-family: Montserrat;
    font-weight: 200;
    max-width: 350px;
    position: absolute;
}

h1 {
    font-size: 1.2em;
}

#profilepic {
    position: absolute;
    right: 200px;
    width: 400px;
    
    
    
}