body {
    font-family: Georgia ;
    font-size: 12 ;
    background-color: slategrey;
    color: white ;
}

h1 {
    font-size: 40 ;
    font-style: italic ;
    color: aliceblue ;    
}

h2 {
    font-family: helvetica neue ;
    font-size: 30 ; 
    color: aliceblue ;
}

h4 {
    font-size: 20 ; 
    font-family: helvetica neue ;
    color: aliceblue ;

}

p, figcaption {
    font-style: italic ;
}

img {
    border: 5px solid aliceblue ;
    
}
